<div class="terminal-body">
    <div *ngFor="let command of commands">
        <div class="row">
            <div class="col-sm-12">
                <span id="user">user123</span>
                <span id="ip">@127.0.0.1: </span>
                <span id="command-input">{{command.input}}</span>
            </div>
        </div>
        <p id="command-output" *ngFor="let line of command.output" class="{{line.style}}">{{line.text}}</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span id="user">user123</span>
            <span id="ip">@127.0.0.1:</span>
        </div>
    </div>
</div>