.terminal-body {
    color: #C3E88D;
    background-color: #292D3E;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 80%;
}

p {
    margin: 0px;
}

#user {
    color: rgb(202, 64, 87)
}

#ip {
    color: green;
     margin-right:5px;
}

#command-input {
    color: white;
}

#command-output {
    color: white;
}

/* Styles for lines */
.blue {
    color: rgb(0, 89, 255) !important;
}

.bold {
    font-weight: bold;
}