<div class="row links">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-file"></i>
            <a href="https://drive.google.com/file/d/1-JRCOPVoJfDBT--bKvNemBNGz9sNvpuz/view?usp=sharing" target="_blank">My Resume</a>
        </li>
        <li class="breadcrumb-item">
            <i class="fa fa-github"></i>
            <a href="https://github.com/pwnedpixel" target="_blank">Github</a>
        </li>
        <li class="breadcrumb-item">
            <i class="fa fa-folder-open"></i>
            <a href="https://devpost.com/pwnedpixel" target="_blank">Projects</a>
        </li>
        <li class="breadcrumb-item">
            <i class="fa fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/arkeech/" target="_blank">LinkedIn</a>
        </li>
        <li class="breadcrumb-item">
            <i class="fa fa-envelope"></i>
            <a href="mailto:andy@akeech.com" target="_blank">andy@akeech.com</a>
        </li>
    </ol>
</div>
