<div class="section-title">Projects</div>
<mat-card *ngIf="projects">
    <div class="row">
        <div class="project-image-container col-lg-4 col-md-6 col-sm-12" *ngFor="let project of projects.projects">
            <label>{{ project.title }}</label>
            <img class="project-image" src="{{ project.image }}" />
            <div class="centered">
                <ul>
                    <li *ngFor="let item of project.info">{{ item }}</li>
                </ul>
                <a href="{{ project.link }}" target="_blank"><button type="button" class="btn btn-outline-light more-info-button">More Info</button></a>
            </div>
        </div>
    </div>
</mat-card>
