/* mat-divider {
	margin-bottom:20px !important;
} */

.project-image-container {
    float: left;
    padding: 20px;
    transition: padding 0.2s ease-in-out;
    text-align: center;
    position: relative;
}

.project-image-container:hover {
    padding: 0px;
}

mat-card {
    padding: 0px !important;
    background: none;
}

.project-image {
    width: 100%;
}

.project-image-container:hover .project-image {
    filter: brightness(20%);
}

.projects {
    display: flex;
}

.centered {
    position: absolute;
	top: 50%;
	transform: translateY(calc(-50% + 20px));
    color: white;
	text-align: center;
	padding-right:10%;
}

.project-image-container .centered {
	transition: opacity 0s ease-out;
    opacity: 0;
}

.project-image-container:hover .centered {
	opacity: 1;
	transition: opacity 0.1s ease-in 0.2s;
}

.more-info-button {
	margin-left: 40px;
}