<div class="section-title">Work Experience</div>
<mat-card>
    <h4 class="card-title">Alert Labs</h4>
    <h6 class="card-subtitle mb-2">Software Developer | July 2019 - Present</h6>
    <ul>
		<li>Building web applications that present analytics information clearly to customers</li>
		<li>Member of a small, fast-paced team with frequent code deployments</li>
		<li>Led a project that resulted in a 10x performance improvement in a major backend component</li>
    </ul>
    <mat-divider class="experience-divider" [inset]="true"></mat-divider>
    <h4 class="card-title">TD Bank</h4>
    <h6 class="card-subtitle mb-2">Full-Stack Developer | May 2017 - August 2018</h6>
    <ul>
        <li>Gained Experience with Agile Development Methodology</li>
        <li>Developer as part of a SCRUM pod for a 12-month web development project</li>
        <li>Used Angular & redux to build front-end web applications. Java Spring, maven & MSSQL backend, running on JBoss 6.4 Application servers</li>
        <li>Deployed dev builds to cloud environments. Completed unit testing with JUnit and Jasmine.</li>
    </ul>
    <mat-divider class="experience-divider" [inset]="true"></mat-divider>
    <h4 class="card-title">StratITgy Solutions</h4>
    <h6 class="card-subtitle mb-2">System Integration | November 2017 - August 2018</h6>
    <ul>
        <li>Lead integration resource on an implementation consulting team</li>
		<li>Led technical integration of customer global ERP systems and cloud based SalesForce.com</li>
		<li>Architected platform to complete data migration and enable continuous data integration</li>
    </ul>
</mat-card>
