.terminal-main {
  display: block;
  overflow: visible;
  position: relative;
  border: 1px gray solid;
  box-shadow: none;
  padding: 0px;
  box-shadow: -5px 10px;
  /* width:80%;
  margin-left: 10%;
  margin-right: 10%; */
}