<div class="skills">
    <div class="section-title">
        Skills
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row" *ngFor="let skill of getSkills(0)">
                <div class="col-md-6 d-flex justify-content-lg-end">
                    {{skill.name}}
                </div>
                <div class="col-md-6">
                    <i *ngFor="let circle of skill.circles" class="fa fa-circle{{circle!=='1'?'-o':''}}"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" *ngFor="let skill of getSkills(1)">
                <div class="col-md-6 d-flex justify-content-lg-end">
                    {{skill.name}}
                </div>
                <div class="col-md-6">
                    <i *ngFor="let circle of skill.circles" class="fa fa-circle{{circle!=='1'?'-o':''}}"></i>
                </div>
            </div>
        </div>
    </div>
</div>
