<div class="skills">
  <div class="section-title">
    Skills
  </div>
	<div class="row">
		<div class="col-lg-3 d-flex justify-content-lg-end">
			HTML/JS/CSS
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
		</div>
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Java
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Python
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
		</div>
		<div class="col-lg-3 d-flex justify-content-lg-end">
			SCRUM
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Angular & React
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Git
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Maven
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
		<div class="col-lg-3 d-flex justify-content-lg-end">
			Jasmine & JUnit
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 d-flex justify-content-lg-end">
			JBoss
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
		<div class="col-lg-3 d-flex justify-content-lg-end">
			C#/C++
		</div>
		<div class="col-lg-3">
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
			<i class="fa fa-circle-o"></i>
		</div>
	</div>
</div>
