@import "@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background: rgb(255, 255, 255);
    margin: 0px;
    color: rgb(66, 66, 66);
}

mat-card {
    margin-bottom: 30px;
}

.no-margin {
    margin: 0px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.mat-card {
    background: rgb(255, 255, 255);
    color: rgb(0,0,0);
    border: none;
    box-shadow: none !important;
}
