<div class="home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Andrew Keech</h1>
            <p class="lead">Software Dev @ Alert Labs</p>
        </div>
    </div>

    <!-- <div class="container">
			<pre class="title">
 _____________________________________________________________________
|                                                                     |
|  █████╗ ███╗   ██╗██████╗ ██████╗ ███████╗██╗    ██╗    ██╗  ██╗    |
| ██╔══██╗████╗  ██║██╔══██╗██╔══██╗██╔════╝██║    ██║    ██║ ██╔╝    |
| ███████║██╔██╗ ██║██║  ██║██████╔╝█████╗  ██║ █╗ ██║    █████╔╝     |
| ██╔══██║██║╚██╗██║██║  ██║██╔══██╗██╔══╝  ██║███╗██║    ██╔═██╗     |
| ██║  ██║██║ ╚████║██████╔╝██║  ██║███████╗╚███╔███╔╝    ██║  ██╗██╗ |
| ╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝  ╚═╝╚═╝ |
|_____________________________________________________________________|
      </pre
			>
		</div> -->

    <div class="home-body">
        <app-links></app-links>
        <app-skills></app-skills>
        <app-work-experience></app-work-experience>
        <app-projects></app-projects>
    </div>
</div>
